<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <appSettings>
    <add key="AllowAutoRedirect" value="false"/>
		<add key="SecondsBetweenChecksPerHost" value="10"/>
		<add key="SeperatorCharacter" value=","/>
  </appSettings>
</configuration>